In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Basic Variable Assignments, Operations and Plots

In [ ]:
msg = "Hello Worlde"

In [ ]:
msg = 2

In [ ]:
print(msg)

In [ ]:
x = np.linspace(0, 20, 100) # range 0..20, with datapoints
plt.plot(x, np.sin(x))
plt.show()

In [ ]:
n = 200
fibonacci = np.ones((n))

#fibonacci[0] = 0
#fibonacci[1] = 1

In [ ]:
sns.set(style="darkgrid")

# Dataframe and Basic Access

In [41]:
df = pd.read_csv('pokemon_data.csv')
#df = pd.read_csv('fortune500.csv')  # pd.read_excel('file')
#print(df.head(3))
#print(df.tail(3))
df.columns #print column names
# df['Speed'] #get specific columns df.speed is also possible

#grab specific columns
#df = df[['HP', 'Defense']]

# index specific columns
#col_list = list(df.columns.values)
# df = df[col_list[0:4] + col_list[-3:-1]]
#df = df[col_list[0:4] + [col_list[-1]]] #Since the last column-name is only a string, it has to be surrounded by [] to make it a list

# Save/write back to csv
# df.to_csv('modified.csv') #df.to_csv('modified.csv', index=False) 

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# Advanced Dataframe Access

In [95]:
### iloc
#df.iloc[1:2] #print first rows
#df.iloc[2,1] #get value of a specic location

#iterations
#for index, row in df.iloc[4:5].iterrows():
#    print(index)

# loc
#df.loc[df['Type 1']=="Fire"] #get filter based on column values #combine more columns with logical operator & or | and parenthesis

# Filtering and advanced Conditions
#newdf = df.loc[df['HP'] > 10]
#newdf = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]
#newdf.iloc[0,]
#newdf.head(5)




# Very Practical: Get count of values for a column
#print(df.columns)
print(df['Name'].value_counts())
#print(df['Type 2'].value_counts())
#df.describe() #basic statistical evaluations on numerical columns
new2df.head(5)

Octillery     1
Poochyena     1
Cofagrigus    1
Miltank       1
Feebas        1
             ..
Espurr        1
Fearow        1
Purrloin      1
Nuzleaf       1
Jumpluff      1
Name: Name, Length: 800, dtype: int64

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
140,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
244,226,Mantine,Water,Flying,65,40,70,80,140,70,2,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
302,279,Pelipper,Water,Flying,60,50,100,85,70,65,3,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False

In [106]:
#Filtering with contained in search
#newdf2 = df.loc[df['Name'].str.contains("Mega")]
# complement with tilde symbol: newdf2 = df.loc[~(df['Name'].str.contains("Mega"))]
#working with regex
#import re
#newdf2 = df.loc[df['Name'].str.contains("^po[ab]*", flags=re.I, regex=True)]
#newdf2.head(5)

#df.sort_values('Name', ascending = False)
#df.sort_values(['Name','Attack'], ascending = [1,0]) #Sorting for two columns, [1,0] means first columns ascending, second descending

#df.sort_values(['Name','HP'], ascending ='False')
#df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [ ]:
#Changes/Replacements
#df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer' #'Type 1" needs to be entered a second time to specify the columns that need to changed

#Changes: One Condition based on one columns but change in other columns:
#df.loc[df['Type 1'] == 'Fire', 'Legendary'] = 'True'
#df

#aggregations
#df['Total'] = df['HP'] + df['Attack'] + df['Attack'] # get new colums that calculates the sum of other column values
#df2 = df.drop(columns=['Total']) #drop columns
#df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
#df
#df.groupby(['Type 1', 'Type 2']).mean()['Attack'] #'Name' is only a column-to-show filter

# df['Total'] = df.iloc[:, 4:6].sum(axis=1) #add column values by indices

#dropping columns/rows
df2 = df.head(3)
#df2.drop(columns=['HP','Attack'])
#Removing by condition and using the tilde
df3 = df2[~(df2['Name']=='Ivysaur')] #Remove all rows that contain Icysauer in column 'Name'
df3

# Working with large amounts of data

In [ ]:
#Create empty dataframe with columns of existing one
new_df = pd.DataFrame(columns=df.columns)
#Imagine your csv is too large, than chunking is useful
for dfchunk in pd.read_csv('pokemon_data.csv', chunksize=400): #now a chunk is presented as a element of an iterable list
  temp_result = dfchunk.groupby(['Type 1']).count()
  print('hello')
  new_df = pd.concat([new_df, temp_result])

In [ ]:
df.tail()